[alias]
    st = status -sb
    com = checkout master
    pfo = pull --ff-only --prune
    cob = checkout -b
    co = checkout
    c = commit -m
    rmu = "!git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"
[core]
	excludesfile = /Users/benjaminherzig/.gitignore_global
	autocrlf = input
